*.log
.DS_Store
.env
.env.backup
.env.deploy
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Coverage reports
coverage/

# Docker
Dockerfile
compose*.yml
docker-compose*.yml
.dockerignore
docker/
*.sqlite
docs/
/.phpunit-mutation-*.xml
