parameters:
    level: max
    paths:
        - src
        - tests

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        reportUnknownTypes: false
        objectManagerLoader: tests/object-manager.php

includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
