services:
  wowplanet:
    container_name: wowplanet
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: dev
    environment:
      SERVER_NAME: :80
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/wowplanet?serverVersion=16&charset=utf8"
    volumes:
      - ../:/app
    networks:
      - traefik_network
      - wowplanet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wowplanet.rule=Host(`wowplanet.dev.local`)"
      - "traefik.http.routers.wowplanet.entrypoints=websecure"
      - "traefik.http.routers.wowplanet.tls=true"
      - "traefik.http.services.wowplanet.loadbalancer.server.port=80"

  redis:
    image: redis:7-alpine
    container_name: wowplanet_redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - wowplanet
    restart: unless-stopped

volumes:
  redis_data:

networks:
  traefik_network:
    name: base_ops_traefik_network
    external: true
  wowplanet:
    external: true