<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wowplanet{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-zinc-200 text-yellow-500">
{{ component('navbar') }}
<main class="container mx-auto mt-6 p-6 bg-zinc-800 rounded-xl shadow-lg">
    {% block body %}{% endblock %}
</main>
</body>
</html>
