<footer class="border-t mt-auto card-glass">
	<div class="mt-4 p-8 text-center text-sm">
		<p>&copy;
			{{ 'now'|date('Y') }}
			WowPlanet. World of Warcraft est une marque déposée de Blizzard Entertainment.</p>
	</div>
</footer>
